*{
    margin: 0;
    box-sizing:border-box;
    font-family: sans-serif;
}


.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 50px;
}

.login {
    display: flex;
    flex-direction: column;
    max-width: 360px; 
    color: #C5A4D5;
}

.title {
    display: flex;
    font-width: 50px;
}

.login input {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    
}

.input-box{
    margin-top: 20px;
    width: 80%;
    border-bottom: 1px solid #813DAE;
}

.input-box input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #C5A4D5;
}

::placeholder{
    color: #C5A4D5;
}

.btn{
    margin: 40px auto 20px;
    width: 10%;
    display: block;
    outline: none;
    padding: 5px;
    border: 3px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #C5A4D5;
    font-size: 16px;
    position: absolute;
    left: 130px;
}

body{
    background: linear-gradient(69.4deg, #000000, #71318F);
}